/* Centering the content on the page */
body {
    background-image: url('background.png'); /* Set background image */
    background-size: cover;
    background-position: center;
    background-color: #F8F5ED; 
    display: flex;
    font-family: "Raleway", sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style for the clock */
#clock {
    text-align: center;
    font-size: 25px;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Style for the task */
.task {
    font-size: 90px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

/* Style for the description */
.description {
    font-size: 30px;
    text-align: center;
    color: #333;
}
